[2018-08-31 03:51] b-mueller opened #3 ""expression start" and "expression end" too detailed?"
Not sure if we should require tools the exact start and end of the expression. I could imagine that not all tools do that, and there may be room for interpretation what exactly is contained in the expression.

Line-of-code should be fine?

[2018-08-31 03:57] rocky commented on #3
See PR #1

And the whole location thing. This is a bit of a mess that I kind of want to walk away from and let usage as we go along and what's useful and what's not drive things.

My only point here (and I'll probably see it again in the correlator) is that there are many many notions of how to specify a location.  There is an implied "or", not "and". Different tools use whatever works for them.

[2018-08-31 04:01] rocky commented on #3
Hmm.. speaking of that:

[code]

manticore may have fixed that recently. I know they fixed a spelling correction of "muti-" to "mutti-". Will check tomorrow and report if it's not fixed.

[2018-09-01 05:45] thec00n commented on #3
I keep thinking about this one and I think I agree with @b-mueller. It is a minimum that the Line-of-code is identified to pass the benchmark. The tool analysis tool can additionally return the exact expression that has the issue.

[2018-09-01 12:39] b-mueller opened #6 "Is it possible to have benchmarks that are supposed to have no result?"
To test whether tools report false positives... I.e., if we wanted to add an integer underflow that isn't actually exploitable and should *not* be detected?

[2018-09-01 12:40] b-mueller commented on #6
Ok, just saw the discussion in #6 :)

[2018-09-02 11:06] #6 closed

[2018-09-03 05:48] b-mueller opened #8 "Introduce a unique identifier for each benchmark"
I propose introducing a standard format for issue identifiers:

OMN-[class]-[variant]

Examples:

OMN-ARITH-OVERFLOW
OMN-ARITH-UNDERFLOW
OMN-LINT-OLDCOMPILER
OMN-LINT-FUNCVISIBILTY

etc.

This will make it easier to unify the interface for tools, they'd only need to include the Omnibus ID into whatever they report. Also, we'll get a nice taxonomy for proposing an industry standard.

[2018-09-18 03:47] rocky opened #18 "expand Integer Overflow/Underflow to types other than uint256"

[2018-09-21 02:49] thec00n opened #31 "Create a new SWC entry/test case"
We are working on the SWC; a smart contract specific software weakness classification scheme. Help us establish a common language around security related bugs in smart contracts and create useful test cases for them.

### User Story
Create a new SWC entry that does not exist yet in the registry and a test case that has at least one instance of the weakness. Follow the instructions in https://githu

[2018-09-22 04:07] thec00n opened #35 "Create new and better SWC definitions / add more test cases"
### SWC-registry
We are working on the SWC; a smart contract specific software weakness classification scheme. Help us establish a common language around security related bugs in smart contracts and create useful test cases for them.

### User Story

We are looking to add and improve existing [SWC definitions](https://github.com/SmartContractSecurity/SWC-registry/tree/master/entries). Some of them

[2018-09-22 12:46] s0b0lev opened #36 "Fix SWC templates"
Some SWC's has: `Base/Class ID` or `Base/Class Type`

[2018-09-24 03:46] #36 closed

[2018-09-24 19:42] s0b0lev opened #44 "Wrong SWC-ID order"
SWC-17 is missing.

Repo has: SWC-116.md and SWC-118.md

[2018-09-25 02:46] thec00n commented on #44
SWC-117 is currently pending here https://github.com/SmartContractSecurity/SWC-registry/pull/34

[2018-09-25 02:46] #44 closed

[2018-09-27 15:43] rocky opened #53 "More automated way to create a test case"
The README has instructions for creating a test case which could be put into a shell script.

However more work is needed and this might include creating a template YAML file.

Even better would be a combination like "swe-test-case init *directory*" and swe-test-case compile *testcase*.

[2018-09-28 03:51] s0b0lev opened #54 "Display contract samples under SWC definition"
- For example for https://smartcontractsecurity.github.io/SWC-registry/docs/SWC-104 create a sub chapter for unchecked_return_value.sol
- Syntax highlighting for Solidity code
- Highlight weaknesses based on the line_number specified in the yaml file

Reported by: @thec00n

[2018-09-28 03:52] s0b0lev opened #55 "Website search"
Add website search widget.

[2018-09-28 03:53] s0b0lev opened #56 "Highlight SWC table links"

[2018-09-28 03:55] s0b0lev opened #57 "SWC yaml config schema validation"
Add yaml schema validation Circle CI job.

[2018-09-28 03:56] s0b0lev opened #58 "SWC document markdown structure validation"
It is important for website to have the same markdown structure for each SWC document.

[2018-09-28 03:57] s0b0lev opened #59 "Update website header/footer"
### Update footer

![footer](https://user-images.githubusercontent.com/2613381/45938995-fd729000-bff0-11e8-911b-10e3ce32ccf8.png)

[2018-09-28 04:54] s0b0lev commented on #56
Done.

[2018-09-28 06:35] #56 closed

[2018-09-28 06:43] thec00n commented on #58
Check that the fields are there and that they are not empty.

[code]

[2018-09-28 15:17] b-mueller opened #63 "SWC Title Change Suggestions"
I feel like the following changes would be appropriate:

*SWC 121 - "Signature Replay" -> "Replay Attack Vulnerability"*

To make it more in line with the rest of the SWC titles ("Signature Replay" is an attack technique and not a weakness / vulnerability).

*SWC 122 - "Pseudo Signature Verification based on msg.sender"  -> "Broken Signature Verification"*

Again, to make it more broadly refer to

[2018-09-29 10:13] Destiner commented on #35
Here's the entries that I plan to add:
* Lack of input parameter check
* Wrong inheritance order (related to C3 parametrization in Solidity)
* Arbitrary flow when using assembly insertions and reassigning function

And here's the existing entries that I plan to improve/complete:
* [SWC-111](https://github.com/SmartContractSecurity/SWC-registry/blob/master/entries/SWC-111.md): Use of Deprecated Sol

[2018-09-30 07:55] thec00n commented on #63
I agree. How about "Missing protection against Signature Replay Attacks"? This would refer to the weakness.

The SWC is a collection of variants that tie into CWE Base and Class types and being specific and not too broad is a good. I am proposing to rename this to "Pseudo Signature Verification" though to make it a little broader and fit this to more test cases. The variant refers to not to wrongl

[2018-09-30 08:13] b-mueller commented on #63
I agree but "Pseudo" isn't a good wording here. It's a Germanism /
Austrianism and while its meaning is similar it doesn't sound right in this
particular context.

"Broken", "Improperly implemented', ... would be more correct.

On Sun, 30 Sep 2018, 14:55 thec00n, <notifications@github.com> wrote:

[2018-09-30 10:56] thec00n commented on #63
Ok how about this?

[2018-09-30 11:17] b-mueller commented on #63
Kewl

On Sun, 30 Sep 2018, 17:56 thec00n, <notifications@github.com> wrote:

[2018-09-30 12:27] thec00n commented on #59
**Header:**

On the Left:

Rename SWC-registry to "Overview"

On the Right:
Rename Docs to "Registry"

**Footer:**

Docs:
- How to add a SWC definition (https://smartcontractsecurity.github.io/SWC-registry/#create-a-new-swc-entry)
- How to add a test case (https://smartcontractsecurity.github.io/SWC-registry/#create-a-test-case)
- EIP XXXX (Link to the EIP)

Community:
- Join the [Discord channel]

[2018-10-01 07:18] thec00n commented on #63
#65

[2018-10-01 17:40] Destiner commented on #35
So far worked on existing entries. Related PRs are #68, #69, #70.

[2018-10-02 01:16] thec00n commented on #57
#67

[2018-10-02 01:16] #57 closed

[2018-10-02 05:51] s0b0lev commented on #59
PR merged: https://github.com/SmartContractSecurity/SWC-registry/pull/71

[2018-10-02 14:47] b-mueller commented on #59
@thec00n @s0b0lev suggested edits for the introduction paragraph:

"The following table contains an overview of the SWC registry. Each row consists of an SWC identifier (ID), weakness title, CWE parent and list of related code samples. The links in the "ID" and "test cases" columms lead to details about the respective SWC. Links in the "Base/Class" columns lead to the CWE Base or Class type."

[2018-10-02 15:16] Destiner commented on #35
Finished new entries. PRs: #76, #78, #79.

[2018-10-03 06:36] s0b0lev opened #83 "Syntax highlight"
Docusaurus use hljs.
Research a way to highlight solidity code

https://docusaurus.io/docs/en/doc-markdown#registering-additional-languages

[2018-10-03 07:02] ersul4ik commented on #83
I learned that there is a 'highlightjs-solidity', but I don’t understand if it will suit us

[2018-10-03 16:01] s0b0lev commented on #59
@thec00n do we need anything else to be done for this issue?

[2018-10-03 16:04] s0b0lev commented on #83
Issue with Docusaurus:
https://github.com/facebook/Docusaurus/issues/960

![local](https://user-images.githubusercontent.com/2613381/46423384-3bda1e80-c758-11e8-9b2a-798a46518531.png)
![prod](https://user-images.githubusercontent.com/2613381/46423388-3da3e200-c758-11e8-827f-1eccbc125d5d.png)

[2018-10-04 06:07] #59 closed

[2018-10-04 06:23] s0b0lev opened #88 "Highlight weaknesses line in contract samples"
Highlight weaknesses based on the line_number specified in the yaml file

[2018-10-04 17:06] b-mueller opened #89 "Title and spacing on Pages site"
Some visual issues in the top section of the [Pages site](https://smartcontractsecurity.github.io/SWC-registry/):

1. Title says "SWC-registry", should be "SWC Registry".
2. Too much space between title and descriptive text. It would likely look better to have even spacing between title, description and table.

![visual](https://user-images.githubusercontent.com/5194767/46490565-306d0e80-c7bd-11e8

[2018-10-08 02:04] #35 closed

[2018-10-08 02:04] #31 closed

[2018-10-08 02:09] #89 closed

[2018-10-09 06:57] #55 closed

[2018-10-10 03:33] thec00n opened #93 "Add a link back to the Github repo in the SWC pages header"
Similar to the Smart Contract Best Practices.

![screen shot 2018-10-10 at 11 32 00 am](https://user-images.githubusercontent.com/6027459/46711760-44fb4c00-cc80-11e8-9e39-2d8b8c193fc2.png)

[2018-10-14 06:04] ersul4ik commented on #93
Added link with configure siteConfig file.

[2018-10-14 11:51] #93 closed

[2018-10-16 09:02] thec00n opened #104 "New SWC definitions and test cases"
## About the SWC

We are working on the SWC-registry; a smart contract specific software weakness classification scheme. Help us establish a common language around security related bugs in smart contracts and create useful test cases for them.

## User Story

Create two new SWC definitions and add 3 new test cases each:

SWC-128: DoS With Block Gas Limit
Example: https://www.reddit.com/r/ethereum/

[2018-10-16 12:45] PumpkingWok commented on #104
Hi @thec00n,
Thank you very much for approving me. I have read that you have a discord group, right ?
Can i write on it tomorrow if i will have any doubt ?
Thanks again.

[2018-10-16 12:57] thec00n opened #107 "New SWC Test Cases"
## About the SWC

We are working on the SWC-registry; a smart contract specific software weakness classification scheme. Help us establish a common language around security related bugs in smart contracts and create useful test cases for them.

## User Story

Create test cases (5 in total) for SWC definitions that have less than 3 test cases currently e.g. [SWC-104](https://smartcontractsecurity.g

[2018-10-17 09:37] eMarchenko opened #108 "Unclear decription of SWC-122"
Just some weird sentence in the [description](https://github.com/SmartContractSecurity/SWC-registry/blob/master/entries/SWC-122.md#description):

I'd like someone to improve it because I'm not sure if I understand it correctly.

[2018-10-19 19:19] PumpkingWok commented on #104
Hi @thec00n,
I'm so sorry but in the last two days i was very busy, I'm going to create a PR at most in one/two days.
Thanks.

[2018-10-21 18:38] PumpkingWok commented on #104
Hi @thec00n,
I would like to ask you a question regard test cases definition regard SWC-128. I have to create a smart contracts where the gas amount for empty an array exceed the total gas limit, if i understood well.
I wrote a test case smart contract like that:
[code]
It seems to work, it is little annoying because it needs to call `addCreditors()` until `creditorAddresses()` reaches at least 15

[2018-10-22 12:09] thec00n commented on #104
Yeah that's fine.

[2018-10-23 17:30] PumpkingWok commented on #104
Hi @thec00n,
I have just created a PR, with only SWC-128 for now. If it is fine for you i will implement SWC-129 tomorrow.Let me know.
Thanks in advance.

[2018-10-26 16:09] PumpkingWok commented on #104
Hi @thec00n,
I have just concluded my PR, for SWC-129 i did not able to find CWE relationship. I only found `CWE-482: Comparing instead of Assigning` and `CWE-481: Assigning instead of Comparing` for typo but they are different errors. If you find a better relation i can include it without problems.Apart this it should be done, let me know.
Thanks in advance.

[2018-10-29 02:46] #104 closed

[2018-10-30 04:56] thec00n opened #112 "Submitting an invalid yaml does not break the build"
https://circleci.com/gh/SmartContractSecurity/SWC-registry/963

[2018-11-04 07:57] #107 closed

[2018-11-04 07:58] #83 closed

[2018-11-07 13:14] thec00n opened #113 "Create new SWC test cases"
## About the SWC

We are working on the [SWC-registry](
https://github.com/SmartContractSecurity/SWC-registry); a smart contract specific software weakness classification scheme. Help us establish a common language around security related bugs in smart contracts and create useful test cases for them.

## User Story

Create new test cases based on another version of the test case that has a weaknes

[2018-11-08 00:55] thec00n opened #115 "Import benchmarks and covert them to test cases"
## About the SWC

We are working on the [SWC-registry](
https://github.com/SmartContractSecurity/SWC-registry); a smart contract specific software weakness classification scheme. Help us establish a common language around security related bugs in smart contracts and create useful test cases for them.

## User Story

Import benchmarks from https://github.com/ConsenSys/evm-analyzer-benchmark-suite/t

[2018-11-08 09:33] montyly opened #116 "Unclear testcase for SWC-112"
Hi,

[SWC-112](https://smartcontractsecurity.github.io/SWC-registry/docs/SWC-112) description states that you should not call untrusted contract with delegatecall. Its short description is: `Delegation sets target address in delegatecall() from user input`

The testcase [test_cases/delegate_call_to_untrusted_callee/delegate.sol](https://github.com/SmartContractSecurity/SWC-registry/blob/86118bc99a

[2018-11-08 09:43] montyly opened #117 "External dependency for SWC-125 testcase"
Hi,

SWC-125 testcase requires two external imports:

https://github.com/SmartContractSecurity/SWC-registry/blob/86118bc99a2d5fee639c5a8b47f6214ae1236ad9/test_cases/incorrect_inheritance_order/MDTCrowdsale.sol#L8-L9

`openzeppelin-solidity` library may change its API or move to another url.
Would it be possible to pick a version and copy it in the SWC-125 directory? That should simplify the testin

[2018-11-08 14:06] PumpkingWok commented on #115
Hi @thec00n,
I looked in https://github.com/ConsenSys/evm-analyzer-benchmark-suite/tree/master/benchmarks and there are `integer_overflow` cases and only one reentracy example, `reentracy_dao.sol`, but it seems already implemented in SWC, with fixed smart contract too.
Do I have to implement cases of overflow not yet implemented in SWC ?
Thanks in advance

[2018-11-11 07:32] thec00n commented on #116
Agreed.

[2018-11-11 17:59] PumpkingWok commented on #115
Yes, I'm still working on this issue. thanks !!

[2018-11-12 04:07] b-mueller opened #119 "Clarification needed for SWC-123"
The description & sample for [SWC-123 - Requirement Violation](https://smartcontractsecurity.github.io/SWC-registry/docs/SWC-123) doesn't make sense to me.

Generally, `require()` is used for input validation and it the condition being violated is expected behavior.

The description seems to refer to a special case where "a contract provides the external input". I assume that the point of this is

[2018-11-12 12:42] b-mueller opened #121 "SWC 109 mixes up different issues"
[SWC-109](https://smartcontractsecurity.github.io/SWC-registry/docs/SWC-109) refers to "uninitialized storage" in the title and description. However, in the "remediation" and "example" sections it refers to "explicitly specifying the data location memory or storage when dealing with complex types".

The [code sample](https://smartcontractsecurity.github.io/SWC-registry/docs/SWC-109#crypto-roulette

[2018-11-12 23:31] frankchen07 commented on #113
@thec00n - Frank from Gitcoin here - just a friendly reminder that @pvienhage has submitted a PR for review!

[2018-11-15 09:02] b-mueller opened #123 "Proposal to remove SWC-118 (Incorrect constructor name)"
SWC-118 has three [near-identical test cases](https://github.com/SmartContractSecurity/SWC-registry/tree/master/test_cases/invalid_constructor_name) that only differ in the constructor name used.

More fundamentally, "misnamed constructors" cannot be detected automatically except by inference from undesirable effects they cause. But even then, It is impossible for tools to report a misnamed constr

[2018-11-16 06:38] thec00n commented on #88
Showing line numbers and the yaml configuration are sufficient.

[2018-11-16 06:38] #88 closed

[2018-11-16 09:18] #116 closed

[2018-11-16 12:45] wuestholz commented on #119
I'm not quite sure I fully understand the question.

The case where the external input is provided by a contract is the only case we care about here. If users provide invalid inputs it's clearly their fault. Is this what you would like to be clarified (e.g., by changing the title to "requirement violation by contract")?

[2018-11-17 01:16] b-mueller commented on #119
Yep, to me the title "Requirement Violation" would indicate that requirement violations are always "wrong". However, the way I understand it, `require(`) is the recommended to catch invalid inputs, so as a tool author I would not report this as a something relevant.

IMO if the `require()` validates return values from external callees, it makes no difference if the callee is a user or a contract.

[2018-11-19 00:30] thec00n commented on #115
Hi there @PumpkingWok how far are you with this? There have been some discussions and If you have not started yet I would like to reassign this issue.

[2018-11-19 01:10] thec00n opened #127 "CircleCI checks on master"
When new code is committed into master, the following checks should be performed:

- Validity and schema checks for the yaml files
- Validity of JSON files
- Check the fields from all definition files and require them to not be empty.

[2018-11-19 01:10] thec00n commented on #127
Related issue #112

[2018-11-19 01:19] thec00n commented on #123
The thinking behind the 3 examples is:

Sampe 1: It's not possible to know if a function (<0.5.0) was intended to be constructor and has an invalid name unless certain properties are violated for instance unrestricted ether withdrawal.
Sample 2:  In certain cases a tool might warn a user that a function is very similar to its contract name.
Sample 3: There have been some instances where developers

[2018-11-19 06:30] PumpkingWok commented on #115
Hi,
I’m going to open a PR today, i was waiting a reply from you since 11 days, read above.I’m going to include only buffer overflow cases with solutions because i can’t see other cases in the repo that you linked in this issue.thanks

[2018-11-19 07:11] wuestholz commented on #119
I would say requirement violations are always "wrong". However, it's more challenging to determine who is to blame (see the two cases in the description about how to fix them). Usually, the external entity (contract or user) is to blame (e.g., precondition violation), but it might also be that the requirement is overly strong.

I don't think there is a standard name for referring to cases where th

[2018-11-19 13:44] thec00n commented on #115
Sorry I must have missed that.

[2018-11-19 20:42] PumpkingWok commented on #115
Hi @thec00n,
Would you like that i leave the name of smart contracts the same as there are in `benchmarks` repo ?
I added `_fixed` at the end of file name in fixed smart contracts, ok ?
Do i have to include `json` and `yaml` for every file ?
Thanks in advance.

[2018-11-20 00:55] PumpkingWok commented on #115
Hi @thec00n,
I have just opened a [WIP] PR, tomorrow i will commit the last smart contracts to include in it.
Thanks in advance and i'm sorry for the late PR.

[2018-11-20 15:18] willsputra commented on #113
@thec00n hey William from Gitcoin here, may I know if this bounty is completed? Thanks! :)

[2018-11-21 01:00] #115 closed

[2018-11-21 01:07] thec00n commented on #18
Addressed with PR #129

[2018-11-21 01:07] #18 closed

[2018-11-21 01:08] #113 closed

[2018-11-21 02:05] b-mueller commented on #119
Hmm, yeah in a sense requirement violations are always "wrong" when happening during runtime, but the use of a `require` statement by the programmer for catching a possible violation isn't wrong.

Compare this with [SWC-110 - Assert Violation](https://smartcontractsecurity.github.io/SWC-registry/docs/SWC-110). An assert violation *necessarily* shows that either there's something wrong with the con

[2018-11-21 08:13] wuestholz commented on #119
Yes, using `require` statements is perfectly fine to filter invalid inputs. Essentially, by adding them, the programmer implicitly introduces assertions that external contracts or users should adhere to.

I can see why one might want to split the two cases up. However, I feel like it might complicate things for tools without making the description much simpler. In particular, I'm afraid that tools

[2018-11-22 09:03] leojub opened #131 ",😁😁"

[2018-11-22 11:05] #131 closed

[2018-11-23 14:18] thec00n opened #136 "Broken TokenSale_fixed.sol sample"
The sample does not compile.

[2018-11-26 12:38] alexleid opened #138 "Include contract name in config file"
Some of the examples seem to contain multiple contracts in the source file (e.g. [modifier_reentrancy.sol](https://github.com/SmartContractSecurity/SWC-registry/blob/master/test_cases/reentracy/modifier_reentrancy.sol)). Typically you have to specify which contract to verify when using automated tools, so reading the contract name from the yaml config would be very helpful.

Is there anywhere else

[2018-11-29 01:43] #136 closed

[2018-11-29 06:48] thec00n opened #147 "Split up checkers in CircleCi job"
Separate the checkers, so it's immediately visible if the the yaml file, the markdown or json is invalid.

[2018-11-30 11:16] MatthiasEgli-chainsecurity opened #148 "Change license to MIT"
Currently this project is under GPL, making it harder to use it inside other projects. Changing the license to MIT will allow those use-cases and it closely mirrors the license used for the CWE project (https://cwe.mitre.org/about/termsofuse.html).

This will need consent from the past contributors @thec00n @b-mueller @s0b0lev @Destiner @pvienhage @PumpkingWok @wuestholz @montyly @rocky @antonper

[2018-11-30 11:18] antonper commented on #148
Approve

[2018-11-30 11:20] PumpkingWok commented on #148
Approve

[2018-11-30 11:33] Destiner commented on #148
Approve

[2018-11-30 12:20] vl-ti commented on #148
Approve

[2018-11-30 13:51] s0b0lev commented on #148
Approve

[2018-11-30 15:44] b-mueller commented on #148
I, Bernhard Mueller, hereby consent with the proposed amendment
![signature](https://user-images.githubusercontent.com/5194767/49299115-89bd9980-f4f1-11e8-8c43-d41082871f3c.png)

[2018-11-30 16:05] wuestholz commented on #148
Approve

[2018-11-30 16:06] rocky commented on #148
approve

On Fri, Nov 30, 2018 at 6:16 AM MatthiasEgli-chainsecurity <
notifications@github.com> wrote:

[2018-11-30 16:06] rocky commented on #148
approve

[2018-11-30 16:59] pvienhage commented on #148
Approve

[2018-12-03 02:40] thec00n commented on #148
I have looked at the permissive licenses again and after considering them I think it’s best to choose the most permissive one. The initial objective was and is to get as many contributions as possible from the community and the MIT license wins here.

Approve.

[2018-12-03 02:41] thec00n commented on #148
@montyly @ethers are guys ok with this as well.

[2018-12-04 08:54] montyly commented on #148
Approve

[2018-12-04 18:00] MatthiasEgli-chainsecurity commented on #148
In case @ethers is not responding, I can undo the only commit (https://github.com/SmartContractSecurity/SWC-registry/commit/2bb5638975b7c9a214aac8d3c17fa759ac2e8432) and we would be good to merge #149. Will do so tomorrow if there is no response until then.

[2018-12-05 02:50] thec00n commented on #148
Hodl on @MatthiasEgli-chainsecurity, let me reach out to @ethers and give it a bit more time.

[2018-12-05 20:55] ethers commented on #148
I don't want to hold this up and approve.  Would like to know what is the reason for MIT instead of Apache 2.0 ?

[2018-12-05 21:16] ChainSecurityAudits commented on #148
No strong opinion, was going for the most permissive one and one which closely mirrors the license used for the CWE project (being the traditional IT security project this project is mirroring somehow). In my understanding, with MIT license anyone can release a project under Apache 2.0 using and modifying this code, while the other way round is not necessarily possible.
Now that everyone accepted

[2018-12-05 21:18] MatthiasEgli-chainsecurity commented on #148
No strong opinion, was going for the most permissive one and one which closely mirrors the license used for the CWE project (being the traditional IT security project this project is mirroring somehow). In my understanding, with MIT license anyone can release a project under Apache 2.0 using and modifying this code, while the other way round is not necessarily possible.
Now that everyone accepted

[2018-12-06 02:12] thec00n commented on #148
All contributors have accepted the license change, merging PR https://github.com/SmartContractSecurity/SWC-registry/pull/149

[2018-12-06 02:12] #148 closed

[2018-12-17 04:52] thec00n opened #156 "Create 3 test cases for Vyper"
Create 3 vulnerable test cases for Vyper with accompanying yaml configuration and link them if possible to existing SWC-definitions. The PR should be the starting point for a discussion on how other EVM based languages can be integrated in the SWC-registry and what gaps there are currently in the structure if any that should be addressed.

[2018-12-17 04:59] #117 closed

[2019-01-02 03:57] thec00n commented on #156
Could you also include the json files and include all the information that the Vyper compiler generates similar to what we have currently for Solidity files.

[2019-01-02 04:01] thec00n opened #158 "Project contributor"
## About the SWC

We are working on the [SWC-registry](
https://github.com/SmartContractSecurity/SWC-registry); a smart contract specific software weakness classification scheme. Help us establish a common language around security related bugs in smart contracts and create useful test cases for them.

## User Story

Contribute to the following areas as core contributor for 4 weeks:

- Bug fixes
-

[2019-01-02 17:40] pvienhage commented on #156
Done, I used vyper -f combined_json filename.vy which includes the most bytecode output types I think. Let me know what you think.

[2019-01-16 13:46] #156 closed

[2019-01-16 13:46] #147 closed

[2019-02-04 15:57] thec00n opened #168 "New location information & other improvements"
The current specification of location information for `bytecode_offsets` does not define a property to map the exact contract that the byte code relates to. This is problematic for test samples that have multiple contracts in the combined JSON output from the Solidity compiler. We propose to expand the location information to a tuple consisting of either:

- the keccak256 hash of the runtime or cr

[2019-02-11 13:20] thec00n commented on #138
Hey @alexleid have a look at #168 this should address your question.

[2019-02-11 13:20] #138 closed

[2019-02-14 03:29] thec00n opened #170 "Create a SWC-registry utils cli tool"
`utils` can be used to create the following output by providing a build artefact from the Solidity compiler.

1.) Print keccak256 hash for all bytecodes in a compile artefact e.g. https://github.com/SmartContractSecurity/SWC-registry/blob/master/test_cases/arbitrary_jump/FunctionTypes.json with Web3.utils.sha3()

2.) Run geth disasm for all bytecodes in the compile artefact e.g. `echo "some byteco

[2019-02-14 15:26] #121 closed

[2019-02-15 16:03] rmi7 opened #173 "SWC-117 'Signature Malleability' fixed version fixes malleability but introduces DoS"
While looking at the fixed version of SWC-117 Signature Malleability I noticed that it actually introduces a DoS.

Although signature malleability is fixed, the example introduces a DoS because of how signature replay is prevented.

And since people might be copying the signature related code for use in their own code, it would make sense that it's correct.

## Vulnerable version (only relevant pa

[2019-02-21 15:40] PumpkingWok commented on #170
Hi @thec00n,
Would you like that i develop it using a scripting language like shell or python ?
Do I need to check that `geth` is running other than it has installed, right ? for using `Web3` functions.
Thanks in advance.

[2019-02-22 04:13] thec00n commented on #170
Thanks for clarifying, I would prefer JS.
Yeah just check if `evm` is there and if not inform the user that it should be installed.

[2019-02-24 14:37] PumpkingWok commented on #170
Hi @thec00n,
I'm going to open a PR tomorrow, I have developed a js script with a structure similar to those into `scripts`. Could it be ok for you ?
Would you like that the tool handle the error in `evm disasm` ? Some times `evm` retrieves an error regard `incomplete push instruction`.
Thanks

[2019-02-25 12:31] PumpkingWok commented on #170
Hi @thec00n,

It seems that `evm disasm` has some issues with `PUSH` instructions, i tested it using `myth -d -c [bytecode]` as Bernhard told me and it seems to work. I can use it instead of `evm` if for you it is ok.

In this scenario i need to have `geth` installed and running only for using `Web3.sha3()` function, at this point i could use directly Web3 js library without constrain the user to

[2019-02-27 05:53] thec00n commented on #108
Closing the issue as the description should be much better now. Feel free to reopen the issue should you not agree.

[2019-02-27 05:53] #108 closed

[2019-02-27 09:43] eMarchenko commented on #108
thank you, new description is much more convenient!

[2019-02-28 11:13] #170 closed

[2019-02-28 11:21] thec00n commented on #173
Hey @rmi7. Good observation, this could indeed be an annoying problem if you implement the replay protection like in the fixed version of the test case. The proposed replay protection with the nonces I find also more elegant than with the hashes.

I also just noticed that `balances[_to] += _value;` could overflow as well ... Do you want to open a PR   to fix the issues?

[2019-02-28 12:01] rmi7 commented on #173
Hi @thec00n, I also noticed the overflow but thought that since it has nothing to do with signatures to just leave it there.

I can make a PR yes (also fixing the overflow), which branch to point it to?

[2019-03-01 02:58] thec00n commented on #173
`master` and if you don't mind could you change the compiler to 0.5.x and regenerate the JSON for both the fixed and vulnerable version. It be great to get more test cases in there that are compiled with more recent version of Solidity.

[2019-03-05 23:13] rmi7 commented on #173
Not as easy as it appears to be since with the proposed fix the example wont make sense anymore,

the fixed version deals with checking for signature replay differently than the "vulnerable" version.

So if you ask me the entire example code needs to changed, but not sure what the new version should be then.

looking forward to any input

[2019-03-05 23:25] pvienhage commented on #173
Hi @rmi I fixed this is my production version of meta transaction libraries by adding a salt. This is better for two reasons (1) salting increses throughout by not enforcing ordering and (2) clients with salts don't need to access the blockchain to check the nonce.
I can add that solution to the dos if you like.

[2019-03-06 09:58] rmi7 commented on #173
Hi @pvienhage, i agree that would further improve the solution, no need for incrementing nonce + fetch-my-latest-nonce.

But this leaves open the question about the example used in the for SWC117. If we update the solution with the (non)incremeneting nonce check, then the sample doesn't make sense anymore if you ask me.

[2019-03-06 10:11] rmi7 commented on #173
@pvienhage you mean like this:

[code]

[2019-03-06 13:11] pvienhage commented on #173
Hi, @rmi7 glad you think it would improve it. Also what you had posted isn't quite what I meant, instead you can hash the salt into the txid with the rest of the data and use the same code as the current fixed version.

[2019-03-06 13:37] rmi7 commented on #173
so instead of:

[code]

do:

[code]

or put otherwise, assuming `_nonce` acts as a salt (meaning a random uint256), the original code will work.

[2019-03-07 09:36] rmi7 commented on #173
then I conclude this is a non-issue, as long as the `nonce` is a random number instead of an incrementing number starting at 0 (or some other predictable starting point), if you agree @thec00n we can close this issue.

[2019-03-08 10:27] #173 closed

[2019-08-13 02:20] maurelian opened #208 "Add gas siphoning attack"
Does this belong in the SWC?

https://medium.com/level-k/public-disclosure-malicious-gastoken-minting-236b2f8ace38

It's not something that can be mitigated within a contract, the issue affects exchanges who include a too high gas limit with an ETH transfer.

[2019-08-18 19:43] rschumi42 opened #209 "Keeping secret vulnerability"
Is there already an SWC entry for the keeping  secret vulnerability [1][2]? The issue occurs when  a contracts, e.g., a multi-player game needs to store secret information, e.g., for the next move of a player, and it just stores this information in a private field. However, for writing the field there needs to be a transaction, which makes the value public and a player might get an advantage becau

[2019-11-10 22:39] ytrezq opened #213 "Please add unprotected ᴇʀᴄ‑20 token withdrawal !"
The exact copy of ꜱᴡᴄ 105 but with tokens.

This is especially meanfull with Wrapped Ether being the de‑facto official Ethereum to ᴇʀᴄ‑20 wrapper and tokens that will always bear value like soft pegged to gold tokens.

[2019-11-10 23:45] ytrezq opened #214 "Please add ꜱᴡᴄ for case where attacker is a able to pass hash directly to ecrecover !"
If verifier contract doesn’t hash a message itself and the hash doesn’t require a pre‑image, then there’s a problem similar but different from signature malleability described [here](https://yondon.blog/2019/01/01/how-not-to-use-ecdsa/ "scroll down the page to the bottom as the description is in part #2").

[2019-11-12 04:16] enderphan94 opened #215 "Ensure SWC numbers are assigned continuously in CI"
I don't see the SWC-126 on the website. What's the reason?

https://swcregistry.io/docs/SWC-126

[2019-12-05 19:05] maurelian commented on #215
Using the git methods listed [here](https://stackoverflow.com/questions/953481/find-and-restore-a-deleted-file-in-a-git-repository), it looks like it never existed, and was skipped by accident.

Perhaps the next SWC to be added should have that number?

[2019-12-05 19:13] maurelian opened #217 "Hash collisions when using abi.encodePacked() with multiple variable length arguments"
Can provide more detail in the future.

[2019-12-05 19:13] maurelian commented on #214
LGTM. It's Pitfall #2 at that URL.

[2019-12-05 19:17] maurelian opened #218 "Insufficient gas griefing"
https://consensys.github.io/smart-contract-best-practices/known_attacks/#insufficient-gas-griefing

[2019-12-05 19:35] maurelian commented on #208
I see that this was started and stalled in #140.
It's not really a vuln at the contract layer, because it affects any situation in which a call is made to an arbitrary address.
The issue is with gas estimation in wallet code.

[2019-12-05 19:40] maurelian commented on #213
PRs welcome. :)

[2019-12-05 19:41] maurelian commented on #213
Though it might make more sense to simply expand SWC-105 to include tokens.

[2019-12-05 20:01] maurelian opened #219 "New SWC: Avoid Block Number as a proxy for time"
[SWC-116: timestamp dependence](https://swcregistry.io/docs/SWC-116) says:

Depending on the block number to accurately predict time is also dangerous:

https://medium.com/spankchain/spankchain-purchase-phase-to-end-prematurely-11-13-at-10am-pst-49c58133715a

[2019-12-05 20:02] maurelian commented on #219
The best practices address this situation as well: https://consensys.github.io/smart-contract-best-practices/recommendations/#avoid-using-blocknumber-as-a-timestamp

[2019-12-06 18:51] maurelian commented on #208
So, after chatting with @b-mueller, I think this is out of scope.

[2019-12-06 18:51] #208 closed

[2019-12-06 19:01] maurelian commented on #209
@b-mueller @thec00n  what do you think about this? It's the same as [this BP recco](https://consensys.github.io/smart-contract-best-practices/recommendations/#remember-that-on-chain-data-is-public).

It's inherently subjective, and depends on the developers intent, but it's definitely a plausible weakness.

[2019-12-09 10:10] thec00n commented on #215
@maurelian @enderphan94 if I recall correctly we had multiple PRs for a new SWC categories at some point and I think one of them then did not make it in. I think we should have documentation around the review process and at which point a SWC id gets assigned. We can assign 126 to next category that gets accepted?

[2019-12-09 10:13] enderphan94 commented on #215
@thec00n  Sounds great! I'm waiting for the 126 back to the list :)

[2019-12-09 10:19] thec00n commented on #209
Absolutely. PRs are welcome :)

[2019-12-09 20:30] maurelian commented on #215
Seems like an easy check to run on PRs in CI.

[2019-12-09 20:49] maurelian commented on #119
So, what's the conclusion here?
It seems like it's a tradeoff between a desire for a well defined and automatable description, vs. a more ambiguous description that maps more closely to the fuzziness of reality?

[2019-12-26 14:17] maurelian commented on #218
Resolved in #223.

[2019-12-26 14:17] #218 closed

[2019-12-26 14:23] maurelian commented on #217
More info (full credit to @smarx for the following text)
Still trying to find a better example, but the last version of this bug we spotted in an audit looked something like this:

[code]

A regular user can promote himself to admin.

If you see `addUser([addr1, addr2], [addr3, <your address>, addr4], sig)`, you can call `addUser([addr1, addr2, addr3, <your address>], [addr4], sig)`.

The signatur

[2019-12-26 14:39] maurelian opened #228 "Statements with no effects"
It's easy to see how this could go wrong:
https://github.com/ethereum/solidity/issues/7096

This is a more generalized description of the issue:
https://github.com/ethereum/solidity/issues/2707

[2019-12-27 22:10] KadenZipfel commented on #217
What's the source/author for this `AccessControl` contract?

[2019-12-28 00:12] smarx commented on #217
Me. I made this up, though it's loosely based on an audit we did.

[2019-12-30 19:37] KadenZipfel commented on #217
https://github.com/SmartContractSecurity/SWC-registry/pull/231

[2019-12-30 22:24] KadenZipfel commented on #219
https://github.com/SmartContractSecurity/SWC-registry/pull/232

[2020-01-06 17:23] KadenZipfel opened #234 "SWC-116 incorrectly suggests using block.number as a proxy for time"
https://swcregistry.io/docs/SWC-116

In the remediation section it is suggested to use `block.number` instead of `block.timestamp`, however, `block.number` is not more precise than `block.timestamp`.

[2020-01-07 02:08] maurelian commented on #234
yeah... this is a hard topic, but I agree that `timestamp` is less error prone, and it matches the BP guidance: https://consensys.github.io/smart-contract-best-practices/recommendations/#timestamp-dependence

@b-mueller @thec00n do we have a way of deprecating swcs?

[2020-01-07 02:16] #217 closed

[2020-01-07 17:15] KadenZipfel commented on #228
https://github.com/SmartContractSecurity/SWC-registry/pull/236

[2020-01-09 17:50] KadenZipfel commented on #209
https://github.com/SmartContractSecurity/SWC-registry/pull/237

[2020-01-14 19:11] KadenZipfel opened #238 "SWC-133 not appearing on swcregistry.io"
So SWC-133 has been committed, yet it's not appearing on the website. Anybody have any idea why?

[2020-01-15 02:26] thec00n commented on #238
Hey @KadenZipfel need to merge master into website branch. It gets then built from there.

[2020-01-15 02:26] #238 closed

[2020-01-15 20:47] maurelian commented on #234
Can we close this per https://github.com/SmartContractSecurity/SWC-registry/pull/232#issuecomment-574845274?

[2020-01-15 21:21] KadenZipfel commented on #234
Yep

[2020-01-15 21:21] #234 closed

[2021-06-18 05:44] little-petrol opened #258 "SWC-136: odd_even_fixed.sol can be locked"
If a player not call the reveal( ) function or he forgets the number or blindingFactor after calling the play( ) function to set the commitment. The OddEven contract of odd_even_fixed.sol would be locked.
I don't know if this situation is within your consideration. The above questions are only raised by me as a beginner.
Thx

[2021-12-14 16:18] dev-tom-0108 commented on #168
Thanks for sharing your experience.
I want to know keccak256 hash's disadvantages and the other hash functions.

[2022-02-22 02:30] nightwatchcyber opened #264 "SWC-100: Versions not specified"
The definition for SWC-100 doesn't indicate that Solidity v0.4.1 and above will now throw an error if no visibility is specified:
https://github.com/ethereum/solidity/blob/develop/Changelog.md

Can that be added?

[2022-04-01 03:53] ofirgeller commented on #258
@little-petrol I think you are right, meaning

1. loser can always tell they are the loser if they wait to reveal second (the number is a transaction parameter)
2. loser can avoid change to the state after learning that they lost (they already know their number, and now the other party number)

The solution is not in the code but in "game theory", because the loser, being rational, will prefer to

[2022-04-26 17:58] guidanoli opened #266 "SWC-125: Wrong issue line number"
https://github.com/SmartContractSecurity/SWC-registry/blob/b0142031dbbb4b779e6daf3fb1322210ec1736cd/test_cases/solidity/incorrect_inheritance_order/MDTCrowdsale/MDTCrowdsale.yaml#L8

The actual line should be `526`.
This error was introduced by #117.

[2022-07-07 16:32] playsnook opened #271 "Proposal: add "Solidity versions affected" to every SWC article"
SWC issues can be irrelevant on different Solidity versions. For example, SWC-100 is not actual for Solidity versions > 0.4.
If SWC pretends to be more like CVE registry (for example, https://www.cvedetails.com/cve/CVE-2019-1010306/), each article MUST include Solidity versions affected.

[2022-08-19 07:27] pi3ch opened #275 "Is this project still maintained?"
They are quite a few pull requests waiting and issues open. Anyone still looking after this project?

I hope it is still alive because it is one of the cleanest reference I've found.

[2022-08-19 09:16] thec00n commented on #275
There are currently no core contributors that can triage and merge new content.

[2022-08-19 09:19] thec00n opened #276 "!!! This project is not actively maintained anymore !!!"
The project does not have any core contributors that actively triage and merge new content or fix issues. If you want to become a contributor please leave a message in the comments.

[2022-08-19 09:20] thec00n commented on #275
see https://github.com/SmartContractSecurity/SWC-registry/issues/276

[2022-08-19 09:28] pi3ch commented on #276
I am happy to help out.

[2022-09-10 13:22] FaizanNehal commented on #276
I would love to become a core contributor of this amazing registry. I learned a lot from it and I really want this to be carried on.

[2022-09-12 14:14] FaizanNehal commented on #276
@thec00n Do let me know what you think of it